<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="greenwich.pointr">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PointR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDso6HCyfGZOnfdkD2AgrtGcHKdMKbdd64"/>
        <activity android:windowSoftInputMode="adjustPan" android:name="greenwich.pointr.SplashsScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:windowSoftInputMode="adjustPan" android:name="greenwich.pointr.MainActivity">
        </activity>
        <activity android:windowSoftInputMode="adjustPan" android:name="greenwich.pointr.SettingsActivity">
        </activity>
        <activity android:windowSoftInputMode="adjustPan" android:name="greenwich.pointr.HelpActivity">
        </activity>
        <activity android:windowSoftInputMode="adjustPan" android:name="greenwich.pointr.PlaceInfo">
        </activity>


    </application>

</manifest>